* {
  --background-color: #202020;
  --text-color: #D0D0D0;
  --element-background-color: #404040;
  --button-hover-text-color: cyan;
  color: var(--text-color);

  background-color: var(--background-color);
}

.App {
  text-align: center;

  width: 100%;

  margin: auto;

  box-sizing: border-box
}

#language-selection {
  position: absolute;
  top: 10px;
  right: 10px;
}

#language-selection>p {
  font-size: 15px;

  display: inline;
  margin: 5px;
}

.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.App-main {
  margin: auto;

  padding: 25px;

  width: fit-content;
  height: fit-content;

  border-width: 1px;
  border-style: solid;
  border-color: var(--text-color);
}

#lista-tablas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  color: var(--text-color);
  background-color: var(--element-background-color);
  border-color: var(--text-color);
  border-radius: 4px;

}

button:hover {
  color: var(--button-hover-text-color);
  border-color: var(--button-hover-text-color);
}

button:focus {
  outline: none !important;
  color: var(--button-hover-text-color);
  border-color: var(--button-hover-text-color);
}

.link-tabla {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;

  --height: 70px;

  font-size: 16px;
  text-align: center;
  vertical-align: middle;

  width: fit-content;
  padding: 0px 20px;
  height: var(--height);

  border-width: 4px;
  border-style: solid;
}

.link-tabla>p {
  width: fit-content;
  display: inline-block;
  color: inherit;

  background-color: inherit;

  pointer-events: none;
  /*this is necessary to avoid a null tableName in the event*/
}

/* When this element is hovered : and has a child node .borrar tabla : that is also hovered*/
.link-tabla:hover:has(.borrar-tabla:hover) {
  border-color: var(--text-color);
  color: var(--text-color);
}

.borrar-tabla {
  width: 1.2em;
  height: 1.2em;

  line-height: 0;

  font-size: 1.5em;
  font-weight: 800;

  border-width: 2px;
}

#new-table-button {
  --side-length: 50px;

  width: var(--side-length);
  height: var(--side-length);


  font-size: 35px;

  border-radius: 50%;

  border-width: 3px;
  border-style: solid;
}

.table-frame {
  margin: auto;
}

.note {
  white-space: pre-wrap;
}

.toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 10px 0px;
}

#return-button {
  display: inline-block;

  width: fit-content;
  height: fit-content;

  font-size: 16px;
  font-weight: 900;

  padding: 5px 10px;
}

#search-container {
  display: inline-block;
  height: fit-content;
}

#search-bar {
  border: 1px solid var(--text-color);
  margin: 0px 5px;
}

.table {
  display: table;
  margin: auto;
}

.table-headers p {
  user-select: none;
}

.table>p {
  display: inline-block;
}

.table-row {
  display: table-row;
  width: fit-content;
}

.table-cell {
  --width: 150px;

  display: table-cell;
  width: var(--width);
  min-width: var(--width);
  max-width: var(--width);
  height: fit-content;
  padding: 5px 10px;
  border: 1px solid var(--text-color);

  vertical-align: middle;
}

.table-cell>input {
  border: 0;
  padding: 0;
  margin: 0;

  width: 100%;

  text-align: center;

  height: fit-content;
  text-wrap: wrap;
}

.table-cell>input:focus {
  outline: none;
}

.invisible{
  visibility: hidden;
}

.end-of-row-button {
  width: fit-content;

  box-sizing: border-box;

  padding: 0px 5px;
  border-width: 1px;
  border-radius: 30%;
  margin: 5px;
}

.delete-row-button {
  background-color: var(--background-color);
}

.new-row-button {
  font-size: 20px;
  margin-top: 15px;

  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
}