* {
  --background-color: #202020;
  --text-color: #D0D0D0;
  --element-background-color: #404040;
  color: var(--text-color);

  background-color: var(--background-color);
}

.App {
  text-align: center;

  width: 100%;

  margin: auto;

  box-sizing:border-box

}

#language-selection {
  position: absolute;
  top: 10px;
  right: 10px;
}

#language-selection>p {
  font-size: 15px;

  display: inline;
  margin: 5px;
}

.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.App-main {
  margin: auto;

  padding: 25px;

  width: fit-content;
  height: fit-content;

  border-width: 1px;
  border-style: solid;
  border-color: var(--text-color);
}

#lista-tablas {
  --item-margin: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  color: var(--text-color);
  background-color: var(--element-background-color);
  border-color: var(--text-color);
  border-radius: 4px;
  
}

button:hover {
  --hover-text-color: cyan;

  color: var(--hover-text-color);
  border-color: var(--hover-text-color);
}

.link-tabla {
  --height: 70px;

  font-size: 16px;
  text-align: center;
  vertical-align: middle;

  margin: var(--item-margin);
  width: 200px;
  height: var(--height);

  border-width: 4px;
  border-style: solid;
}

#new-table-button {
  --side-length: 50px;

  margin-left: var(--item-margin);
  width: var(--side-length);
  height: var(--side-length);
  

  font-size: 35px;

  border-radius: 50%;

  border-width: 3px;
  border-style: solid;
}

.table-frame{
  margin: auto;
}

.table {
  display: table;
  margin: 0;
  width: 10%;
}

.table > p{
  display: inline-block;
}

.table-row {
  display: table-row;
  width: fit-content;
}

.table-cell {
  display: table-cell;
  height: fit-content;
  padding: 5px 10px;
  border: 1px solid var(--text-color);

  vertical-align: middle;
}

.table-cell > input {
  border: 0;
  height: fit-content;
  text-wrap: wrap;
}

.table-cell > input:focus {
  outline: none;
}

.delete-row-button{
  margin: 5px;
  background-color: var(--background-color);
  
  border-width: 1px;
  border-radius: 30%;

}

.new-row-button {
  font-size: 20px;
  margin-top: 15px;

  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
}