* {
  --background-color: #202020;
  --text-color: #D0D0D0;
  --element-background-color: #505050;
  color: var(--text-color);

  background-color: var(--background-color);
}

.App {
  text-align: center;

  min-height: 100vh;

  width: 100%;

  margin: auto;

}

#language-selection {
  position: absolute;
  top: 10px;
  right: 10px;
}

#language-selection>p {
  font-size: 15px;

  display: inline;
  margin: 5px;
}

.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.App-main {
  margin: auto;

  padding: 25px;

  min-width: 50%;
  width: fit-content;

  border-width: 1px;
  border-style: solid;
  border-color: var(--text-color);
}

#lista-tablas {
  --item-margin: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#lista-tablas > button:hover {
  --hover-text-color: cyan;

  color: var(--hover-text-color);
  border-color: var(--hover-text-color);
}

.link-tabla {
  --height: 70px;

  font-size: 16px;
  color: var(--text-color);
  text-align: center;
  vertical-align: middle;

  margin: var(--item-margin);
  width: 200px;
  height: var(--height);

  background-color: var(--element-background-color);

  border-width: 4px;
  border-style: solid;
  border-color: var(--text-color);
  border-radius: 2.5px;
}

#new-table-button {
  --side-length: 50px;

  margin-left: var(--item-margin);
  width: var(--side-length);
  height: var(--side-length);
  border-radius: 50%;

  font-size: 35px;

  color: inherit;

  background-color: var(--element-background-color);
  border-width: 3px;
  border-style: solid;
  border-color: var(--text-color);
}

.table {
  display: table;
  margin: auto;
}

.table > p{
  display: inline-block;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  width: 100px;
  height: fit-content;
  padding: 5px 10px;
  border: 1px solid var(--text-color);

  vertical-align: middle;
}

.table-cell > input {
  border: 0;
  height: fit-content;
  text-wrap: wrap;
}

.table-cell > input:focus {
  outline: none;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */